@import url(../../common.css);

#wrapper{
  background:gray;
  width: 100%;
  margin: 40px auto;
  padding: 0 100px;
  padding-bottom: 70px;
}
div header{
  background: rgb(41, 41, 81);
  text-align: center;
  padding: 20px 40px;
  font-size: 2em;
  font-weight: 700;
  color: white;
}
div h1{
  color: yellow;
}
div h1 strong{
  font-size: 2.2em;
  color: white;
}
div h1 span{
  color: yellow;
  font-size: 1.5em;
}
div h1 em{
  color: white;
  font-size: 1.8em;
}
div#wrapper div.container{
  border: 1px solid #000;
  background: white;
}
div#wrapper div.container ul{
  width: 20%;
  text-decoration: underline;
  text-align: justify;
  line-height: 1.8;
  padding: 20px;
  background: gray;
  float: left;
  height: 540px;
}
div#wrapper div.container div.content{
  width: 80%;
  float: left;
}
div#wrapper div.container div.content h2{
  color: yellow;
  background: red;
  padding: 10px 20px;
  font-size: 1.5em;
}
div#wrapper div.container div.content p{
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
  padding: 20px;
}
div#wrapper footer{
  background: rgb(169, 169, 169);
  padding: 10px;
  border: 2px solid rgb(143, 143, 143);
}